<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 技术分享</title>
    @Styles.Render("~/StaticResource/HomeIndexResource/assets/css/main.css")

</head>
<body>
<!-- Wrapper -->
<div id="wrapper">
    <!-- Header -->
    <header id="header">
        <h1>@Html.ActionLink("个人技术分享", "Index", "Home")</h1>
        <nav class="links">
            <ul>
                <li>
                    <a href="#">标题1</a>
                </li>
                <li>
                    <a href="#">标题2</a>
                </li>
                <li>
                    <a href="#">标题3</a>
                </li>
                <li>
                    <a href="#">标题4</a>
                </li>
                <li>
                    <a href="#">标题5</a>
                </li>
            </ul>
        </nav>
        <nav class="main">
            <ul>
                <li class="search">
                    <a class="fa-search" href="#search">搜索</a>
                    <form id="search" method="get" action="#">
                        <input type="text" name="query" placeholder="Search"/>
                    </form>
                </li>
                <li class="menu">
                    <a class="fa-bars" href="#menu">Menu</a>
                </li>
            </ul>
        </nav>
    </header>
</div>
<!-- Menu -->
<section id="menu">
    <!-- Search -->
    <section>
        <form class="search" method="get" action="#">
            <input type="text" name="query" placeholder="Search"/>
        </form>
    </section>
    <!-- Links -->
    <section>
        <ul class="links">
            <li>
                <a href="#">
                    <h3>列表1</h3>
                    <p>简介</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>列表2</h3>
                    <p>简介</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>列表3</h3>
                    <p>简介</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>列表4</h3>
                    <p>简介</p>
                </a>
            </li>
        </ul>
    </section>
    <!-- Actions -->
    <section>
        <ul class="actions stacked">
            <li>@Html.ActionLink("登录", "Login", "Account")</li>
        </ul>
    </section>
</section>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.2020 - Support by Khalid</p>
    </footer>
</div>
@Scripts.Render("~/StaticResource/HomeIndexResource/assets/js/jquery.min.js")
@Scripts.Render("~/StaticResource/HomeIndexResource/assets/js/browser.min.js")
@Scripts.Render("~/StaticResource/HomeIndexResource/assets/js/breakpoints.min.js")
@Scripts.Render("~/StaticResource/HomeIndexResource/assets/js/util.js")
@Scripts.Render("~/StaticResource/HomeIndexResource/assets/js/main.js")
@RenderSection("scripts", required: false)
</body>
</html>